<!DOCTYPE html>
<script type = "text/javascript" src="/assets/js/status_changer.js"></script>
<script type = "text/javascript" src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script type = "text/javascript" src="/assets/js/darkmode.js"></script>
<style>
    /* Button Style */
    .multi-checkbox {
        background: transparent;
        border: none;
        color: black;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        cursor: pointer;
    }
</style>
<link rel="icon" href="favicon.svg">