<!DOCTYPE html>
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/darkmode-js@1.5.7/lib/darkmode-js.min.js"></script>
<script type="text/javascript" src="./assets/js/status_changer.js"></script>
<script type="text/javascript">
    const options = {
        label: '🌓', // default: ''
        bottom: 'unset',
        right: '32px' // default: '32px'
    }

    function addDarkmodeWidget() {
        new Darkmode(options).showWidget()
    }

    window.addEventListener('load', addDarkmodeWidget)
</script>
<link rel="stylesheet" href="./assets/css/styles.css">
<link rel="icon" href="./assets/img/favicon.svg">

<meta property="og:locale" content="en_US"/>
<meta property="og:url" content="https://bit.ly/clue-sheet"/>
<meta property="og:type" content="website"/>
<meta property="og:site_name" content="Clue Sheet"/>
<meta property="og:title" content="Clue Sheet"/>
<meta property="og:description" content="A simple, mobile-friendly site to use as a Clue / Cluedo detective sheet."/>
<meta property="og:image" content="/assets/img/magnifying_glass.png"/>
<meta property="twitter:card" content="summary">
