
<h2>Rooms</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  {% for room in site.data.rooms %}
    {% if room.base %}
        <tr>
            <td>{{ room.name }}</td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
        </tr>
    {% elsif room.edition == edition %}
        <tr>
            <td>{{ room.name }}</td>
            <td><input type="button" class="multi-checkbox" value="&#x2B1C;" /></td>
        </tr>
    {% endif %}
  {% endfor %}
  </table>