
<h2>Weapons</h2>
<table>
    <tr>
      <th>Name</th>
      <th>Status</th>
    </tr>
  {% for weapon in site.data.weapons %}
    {% if weapon.base %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input type="button" class="multi-checkbox" onclick="tristate(this)" value="&#x2B1C;" /></td>
        </tr>
    {% elsif weapon.edition == edition %}
        <tr>
            <td>{{ weapon.name }}</td>
            <td><input type="button" class="multi-checkbox" onclick="tristate(this)" value="&#x2B1C;" /></td>
        </tr>
    {% endif %}
  {% endfor %}
  </table>